<!-- About Me Page -->
<div id="wrapper">
    <h1>About Me</h1>
</div>

<!-- Profile image -->
<div id="profile-image" style="text-align: center;">
    <img src="/images/myimage.png" alt="My Image" class="profile-image">
</div>

<!-- Introduction section -->
<div id="introduction" style="text-align: center;">
    <p>My name is Mohammed Ali Khan and I am in my 2nd year of my university degree in Bachelors of Networking and I.T. Security.</p>
</div>

<!-- Adding video -->
<div style="text-align: center;">
    <video width="320" height="240" controls poster="/images/video-poster.png">
        <source src="/videos/myvideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
