<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style-mobile.css" rel="stylesheet" type="text/css" media="screen and (max-width:600px)">
    <link href="/stylesheets/style-tablet.css" rel="stylesheet" type="text/css" media="screen and (min-width: 601px) and (max-width: 900px)">
    <link href="/stylesheets/style-laptop.css" rel="stylesheet" type="text/css" media="screen and (min-width: 901px)">
    
    <title><%= title %></title> 
</head> 
<body> 
    <div id="wrapper"> 
        <header>
            <h1>Welcome to my Introduction Page!! </h1>
            <nav>
                <h4>
                    <a href="/">Home</a>
                    <a href="/about">About Me</a>
                    <a href="/project">Project</a>
                    <a href="/contact">Contact Me</a>
                </h4>
            </nav>
        </header>
    </div>

    <footer style="text-align: left;">
        <p>Contact: <a href="mailto:mohammed.alikhan1@ontariotechu.net">mohammed.alikhan1@ontariotechu.net</a></p>
        <p>&copy; 2024 Mohammed Ali Khan. All rights stolen from the gods for you mi amor!</p>
    </footer>
</body> 
</html>
