    <!--Index or Home Page-->
    <% layout('layout') %>
    <div id="wrapper"> 
            <h2>Welcome to my Introduction Page!! </h2>
            <p>This is my home page of my portfolio!</p>
    </div>

    <section>
        <h3>A bit about me!</h3>
        <p>Hello! My name is Mohammed Ali Khan, I have made this website for you to explore and know a little about me!</p>
    </section>

    