<div id="wrapper"> 
    <h2>Welcome to my Introduction Page!!</h2>
    <p>This is my home page of my portfolio!</p>
</div>

<section>
    <h3>A bit about me!</h3>
    <p>Hello! My name is Mohammed Ali Khan. I created this website for you to explore and learn about me!</p>
</section>
